header
{
  background: url(/src/images/bg.png) no-repeat center / cover;
  height: 900px;
}
header
{
  .head__big
  {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}