nav {
  .nav {
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    ul {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 75px;
      li:hover{
        transform: scale(120%) !important;
      }
      li a:hover{
          color: #B25A59;
      }
      li{
        transition: .3s;
      }
    }
  }
}
